[user]
    email = root@uralbash.ru
    name = Svintsov Dmitry
[giggle]
    main-window-maximized = true
    main-window-geometry = 631x168+316+180
    main-window-view = HistoryView
    history-view-vpane-position = 305
    file-view-vpane-position = 663
[alias]
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    flow = flow
    d = difftool
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[mergetool "vimdiff"]
    keepBackup = false
[core]
    excludesfile = /home/uralbash/.gitignore
	quotepath = off
[push]
    default = simple
[credential]
    helper = cache
